.App {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  height: 100vh;
  background-color: gray;
}

.letter{
  font-size: 2rem;
  margin: 0;
  padding: 0;
  text-align: center;
}

.words-panel{
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.word > .letter-div{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 3rem;
  width: 3rem;
  margin: 0;
  padding: 0;
  border-style: solid;
}

.word{
  display: flex;
  margin: 0;
  padding: 0;
  align-items: center;
  justify-content: center;
}

.row-one, .row-two, .row-three{
  display: flex;
  justify-content: center;
}

.row-three{
  margin-bottom: 2rem;
}

.keyboard{
  height: 4rem;
  width: 2rem;
  border-style: solid;
}

.enter{
  width: fit-content;
}