/** @format */

.App {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  min-height: 100vh;
}

.letter {
  font-size: 2rem;
  margin: 0;
  padding: 0;
  text-align: center;
}

.words-panel {
  display: flex;
  margin-top: 2rem;
  margin-bottom: 2rem;
  flex-direction: column;
}

.word > .letter-div {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 3rem;
  width: 3rem;
  margin: 0;
  padding: 0;
  border-style: solid;
  margin: 0.3rem 0.3rem 0.3rem 0.3rem;
}

.word {
  display: flex;
  margin: 0;
  padding: 0;
  align-items: center;
  justify-content: center;
  height: 3rem;
  margin-bottom: 1rem;
}

.row-one,
.row-two,
.row-three {
  display: flex;
  justify-content: center;
}

.row-three {
  margin-bottom: 2rem;
}

.keyboard {
  height: 4rem;
  width: 2rem;
  border-style: solid;
  margin: 0.1rem 0.1rem 0.1rem 0.1rem;
}

.enter {
  width: fit-content;
}

.used {
  background-color: gray;
}

.used > .letter {
  color: white;
}

.in-word {
  background-color: rgb(196, 196, 44);
}

.in-place {
  background-color: green;
}
